# Python cache files
**/__pycache__/
**/*.py[cod]
**/*$py.class
**/.venv/
**/venv/
**/.env

# IDE / System files
.vscode/
.idea/
.DS_Store

# Large datasets in EnergyLens-AI (Final-Project)
Final-Project/EnergyLens/data/raw/daily_dataset/
Final-Project/EnergyLens/data/raw/halfhourly_dataset/
Final-Project/EnergyLens/data/raw/hhblock_dataset/
Final-Project/EnergyLens/data/raw/daily_dataset.csv
Final-Project/EnergyLens/data/processed/master_daily.csv
Final-Project/EnergyLens/data/processed/master_daily.parquet
Final-Project/EnergyLens/data/processed/master_features.parquet
